name: docker

on: [push, workflow_dispatch]

jobs:
   buildx:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    strategy:
      matrix: 
        version: ["15-jre", "14-jre", "11-jre", "14-jdk-slim", "15-jdk", "14-jdk", "11-jdk"]
    steps:
      -
        name: Checkout
        uses: actions/checkout@v1
      -
        name: Login to Docker Hub
        run: echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login -u "${{ secrets.REGISTRY_USERNAME }}" --password-stdin
        if: github.ref == 'refs/heads/master'
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all
      -
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
      -
        name: List Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      -
        name: Install yq (mikefarah, go)
        run: sudo su -c 'wget https://github.com/mikefarah/yq/releases/download/3.4.1/yq_linux_amd64 -O /usr/bin/yq && chmod +x /usr/bin/yq'
      -
        name: Run Buildx (${{ matrix.version }})
        run: |
          docker buildx build \
            --platform $(yq r platform-matrix.yml ${{ matrix.version }}.arch) \
            --output "type=image,push=$([[ $GITHUB_REF == "refs/heads/master" ]] && echo true || echo false)" \
            --build-arg ARM64_ESUM=$(yq r platform-matrix.yml ${{ matrix.version }}.esums.aarch64) \
            --build-arg ARMV7_ESUM=$(yq r platform-matrix.yml ${{ matrix.version }}.esums.armhf) \
            --build-arg PPC64LE_ESUM=$(yq r platform-matrix.yml ${{ matrix.version }}.esums.ppc64le) \
            --build-arg S390X_ESUM=$(yq r platform-matrix.yml ${{ matrix.version }}.esums.s390x) \
            --build-arg AMD64_ESUM=$(yq r platform-matrix.yml ${{ matrix.version }}.esums.amd64) \
            --build-arg REPO=$(yq r platform-matrix.yml ${{ matrix.version }}.repo) \
            --build-arg TYPE=$(yq r platform-matrix.yml ${{ matrix.version }}.type) \
            --build-arg TAG=$(yq r platform-matrix.yml ${{ matrix.version }}.tag) \
            --build-arg VERSION=$(yq r platform-matrix.yml ${{ matrix.version }}.version) \
            --build-arg SLIM=$(yq r platform-matrix.yml ${{ matrix.version }}.slim) \
            --build-arg JDK78FIX=$(yq r platform-matrix.yml ${{ matrix.version }}.jdk78fix) \
            -f Dockerfile -t jcxldn/openjdk-alpine:${{ matrix.version }} .
